<!--<!DOCTYPE html>
<html xmlns=http://www.w3.org/1999/xhtml
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>QL SV PTIT</title>
<link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>

	<div class="a">
		<h1>Welcome to PTIT</h1>
		<img th:src="@{/images/PTIT.jpg}" />
	</div>
	<h3 class = "menu">
		<a href="/giangvien" > QL giang vien</a>
		<a href="/nhanvien" > QL nhan vien</a>
			<a href="/sinhvien" > QL sinh vien</a>
	</h3>
</body>
</html>-->

<!DOCTYPE html>
<html xmlns=http://www.w3.org/1999/xhtml xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Truong Hoc</title>
	<link rel="stylesheet" th:href="@{/csshome.css}" />
</head>

<body>
	<header class="sticky-top">
		<div class="container">
			<div class="row">
				<div class="col-2 menu">
					<p style="font-size:20px;"> Trường Đại Học </p>
				</div>
				<div class="col-8 menu">
					<ul>
						<li><a href="">Trang chủ</a></li>
						<li><a href="">Quản Lý</a>
							<ul class="menu_child">
								<li><a href="/sinhvien">Sinh viên</a></li>
								<li><a href="/giangvien">Giảng viên</a></li>
								<li><a href="/thanhvien"> Thành Viên </a></li>
								<li><a href="/monhoc">Môn học</a></li>
								<li><a href="/lop"> Lớp </a></li>
								<li><a href="/khoa"> Khoa </a></li>
								<li><a href="/diem"> Điểm </a></li>
							</ul>
						</li>
						<li><a href="">Liên Hệ</a>
							<ul class="menu_child">
								<li><a href="">Số Điện Thoại</a></li>
								<li><a href="">Facebook</a></li>
								<li><a href="">Gmail</a></li>
							</ul>
						</li>
						
					</ul>
				</div>
			</div>
		</div>
	</header>
	<div class="container slider-margin">
		<div class="row">
			<div class="col-12">
				<div class="slideshow-container">
					<div class="mySlides fade">
						<div class="numbertext">
							1/3
						</div>
						<img th:src="@{/images/anhbiaptit_1.jpg}" style=" width:1140px; height:490px;" />
						<div class="text">I love Ptit</div>
					</div>
					<div class="mySlides fade">
						<div class="numbertext">
							2/3
						</div>
						<img th:src="@{/images/anhbiaptit_2.jpg}" style=" width:1140px; height:490px;" />
						<div class="text"> Cổng trường Ptit</div>
					</div>
					<div class="mySlides fade">
						<div class="numbertext">
							3/3
						</div>
						<img th:src="@{/images/anhbiaptit_3.jpg}" style=" width:1140px; height:490px;" />
						<div class="text">Thư viện Ptit</div>
					</div>
					<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
					<a class="next" onclick="plusSlides(1)">&#10095;</a>
				</div>
				<br>
				<div style="text-align: center;">
					<span class="dot" onclick="currentSlide(1)"></span>
					<span class="dot" onclick="currentSlide(2)"></span>
					<span class="dot" onclick="currentSlide(3)"></span>
				</div>
			</div>
		</div>
		<div class="row">
			<div>
				<h3>Chào mừng đến với ptit </h3>
				<h3> Sản phẩm nhóm 2 </h3>
			</div>
		</div>
	</div>
	<footer>
		<div class="container">
			<div class="row footer">
				<div class="col-3">
					<h3>Thành viên nhóm</h3>
					<ul class="menu_footer">
						<li><a href="">Đoàn Minh Đức</a></li>
						<li><a href="">Nguyễn Tuấn Anh</a></li>
						<li><a href="">Nguyễn Tiến Đạt</a></li>
						<li><a href="">Đặng Minh Phương</a></li>
					</ul>
				</div>
				<div class="col-3">
					<h3>Mã sinh viên</h3>
					<ul class="menu_footer">
						<li><a href="">B19DCCN187</a></li>
						<li><a href="">B19DCCN031</a></li>
						<li><a href="">B19DCCN175</a></li>
						<li><a href="">B19DCCN???</a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
</body>
<script>
	var slideIndex = 1;
	showSlides(slideIndex);

	function plusSlides(n) {
		showSlides(slideIndex += n);
	}

	function currentSlide(n) {
		showSlides(slideIndex = n);
	}

	function showSlides(n) {
		var i;
		var slides = document.getElementsByClassName("mySlides");
		var dots = document.getElementsByClassName("dot");
		if (n > slides.length) {slideIndex = 1}
		if (n < 1) {slideIndex = slides.length}
		for (i = 0; i < slides.length; i++) {
			slides[i].style.display = "none";
		}
		for (i = 0; i < dots.length; i++) {
			dots[i].className = dots[i].className.replace(" active", "");
		}
		slides[slideIndex - 1].style.display = "block";
		dots[slideIndex - 1].className += "active";
		setTimeout(showSlides, 1000);
	}
</script>

</html>