<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>
	<a href="/"><img th:src="@{/images/PTIT.jpg}"
		style="height: 100px; width: 200px;" /></a>
	<h1>Danh sach sinh vien</h1>
	<form th:action="@{/sinhvien/search}" method="get">
		<h3>Tim kiem theo tên sinh viên</h3>
		<input type="search" name="keyword" /> <br /> <br /> <input
			type="submit" value="Search">
		</button>
	</form>
	<br />
	<table cellpadding="5" border="1">
		<tr valign="top">
			<th>Mã SV</th>
			<th>Tên SV</th>
			<th>Tên khoa</th>
			<th>Quê quán</th>
			<th>Năm sinh</th>
		</tr>
		<tr th:each="value: ${values}">
			<td th:text="${value.ma_sinh_vien}"></td>
			<td th:text="${value.ten}"></td>
			<td th:text="${value.ma_khoa.ten_khoa}"></td>
			<td th:text="${value.qq}"></td>
			<td th:text="${value.nam_sinh}"></td>
			<td><a th:href="@{'/sinhvien/suasinhvien/' + ${value.ma_sinh_vien}}">edit</a></td>
			<td><a th:href="@{'/sinhvien/xoasinhvien/' + ${value.ma_sinh_vien}}">delete</a></td>
		</tr>
	</table>
	<br />
	<button>
		<a href="/sinhvien/themsinhvien" style="text-decoration: none;">Thêm</a>
	</button>
</body>
</html>