<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<h1>Thêm Giảng Viên!</h1>

	<form method="POST" th:object="${giangvien}" >


		<h3>Mã: </h3>
		<input type="text" th:field="*{ma_giang_vien}" /> <br />
		<h3>Tên: </h3>
		<input type="text" th:field="*{ten}" /> <br /> 
		<h3>Mã Khoa: </h3>
		 <input type="text" th:field="*{ma_khoa}" /><br /> 
		 <br />
		<button type="submit">Thêm</button>

	</form>
</body>
</html>